html{
    margin:auto;
    background-color: black;
}

body{
    width:485px;
    margin:auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

header h1{
    color:#007d7b;
    margin: auto;
    font-size: 3em;
    text-transform: uppercase;
    padding: 15px 0 0 0;
    background-color: #ffffff;
}

nav ul{
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    font-size:1.5em;
    background-color: black;
    margin:10px 0;
    padding:20px 0;
}

ul a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
}

nav .back_to_top{
    position:fixed;
    bottom:0px;
    right:5px;
    border: solid 2px #ffffff;
    background-color: #000000;
    padding:5px;
    z-index: 2;
}

h2{
    text-transform: uppercase;
    font-size: 2em;
    padding-top: 10px;
}

.info{
    background-color: #ffffff;
    padding-bottom: 5px;
}

.about{
    text-align: left;
    padding:0 15px;
    font-size:1.25em;
}

main{
    background-color: #ffffff;
}

.gallery p{
    padding:0 15px;
}

.gallery{
    text-align: left;
    font-size:1.25em;
    position: relative;
}

figure{
    position:relative;
    text-align: center;
    font-size: 1em;
    
}

figcaption{
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    left:40%
}

.message-bottom{
    bottom:20px;
}

.message-top{
    top:20px;
}

.chile_box, .guatemala_box, .hawaii_box, .moab-desert_box, .wyoming_box{
    color:#ffffff;
}

footer{
    color: #ffffff;
    font-size: 1em;
    width:450px;
    margin: auto;
}

footer p{
    font-size: 1.25em;
}

.contact{
    text-transform: uppercase;
    font-size: 1em;
}

input[type=text], input[type=email],textarea{
    width:100%;
    padding:12px;
    border-radius: 5px;   
}

input[type=text]::placeholder, input[type=email]::placeholder,textarea::placeholder{
    color: #007d7b;
    text-transform: uppercase;
    font-weight: 700;
}

.name, .email, .message{
    margin:20px 0;
    text-align: left;
}

input[type=text]:focus,input[type=email]:focus, textarea:focus{
    border: solid 2px #007d7b;
}

button[type=submit]{
    background-color: #007d7b;
    margin:0 auto;
    color: #ffffff;
    border: 0;
    padding:12px 100px;
    font-size: 1em;
    text-transform: uppercase;
    border-radius: 20px;
}
button[type=submit]:hover{
    color: #007d7b;
    background-color: #ffffff;
    border:solid 4px #007d7b;
}
.contact{
    padding-bottom: 35px;
    margin-bottom: 35px;
}
.copyright{
    text-transform: uppercase;
}

@media screen and (min-width:880px){
    body{
        width:880px;
    }
    header h1{
        text-align: left;
        padding-left: 10px;
    }
    .gallery{
        display: inline-block;
        width: 97%;
    }
    figure{
        display: inline-block;
        margin:0;
    }
    footer{
        width:75%;
    }
    button[type=submit]{
        padding:12px 200px;
    }

    @media screen and (min-width:1300px){
        body{
            width:1300px;
        }
        nav{
            padding-top:15px;
        }
        nav ul{
            justify-content: right;
            padding:0 25px;
        }
        nav a{
            padding:0 25px;
        }
        .gallery{
            width:98%;
        }
    }
}